@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Oswald&display=swap');

.navg{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

.fontsizenav{
    font-size: 2rem;
    padding: 1.5rem;
    margin-left: 2rem;
    font-weight: bold;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Oswald', sans-serif;
}

.nav-div-container{
    border: 5px solid red;
}

@media screen and (min-width: 1804px) {
    .nav-div-container{
        border: 5px solid blue;
        /* width: 100vw !important; */
    }
    .navg{
        /* width: 100vw !important; */
        border: 5px solid green;
    }
  }